<NavLink href="/" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
 | 
<NavLink href="/mealplanner">
    <span class="oi oi-calendar" aria-hidden="true"></span> Meal Planner
</NavLink>
 | 
<NavLink href="/recipes">
    <span class="oi oi-book" aria-hidden="true"></span> Recipe Finder
</NavLink>
 | 
<NavLink href="/shoppinglist">
    <span class="oi oi-cart" aria-hidden="true"></span> Shopping List Generator
</NavLink>
